<?xml version="1.0"?>
<!--

Studio Raz

NOTICE OF LICENSE

This source file is subject to the End-user License Agreement
that is available through the world-wide-web at this URL:
https://wiki.studioraz.co.il/wiki/EULA
If you are unable to obtain it through the world-wide-web, please
send an email to support@studioraz.co.il so we can send you a copy immediately.

@package    SR_Base-v1.x.x
@copyright  Copyright (c) 2016 Studio Raz (https://studioraz.co.il)
@license    https://wiki.studioraz.co.il/wiki/EULA  End-user License Agreement

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SR_Base" setup_version="1.0.0">
    </module>
</config>
