<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 Studio Raz. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\AbstractBlock">
        <plugin name="SR_Base::js_layout_processor" type="SR\Base\Plugin\Framework\View\Element\AbstractBlockAfterGetJsLayoutPlugin"/>
    </type>
    <type name="Magento\Catalog\Helper\Product\View">
        <plugin name="SR_Base::catalog_product_view_attribute_set_id" type="SR\Base\Plugin\Catalog\Helper\Product\View"/>
    </type>
</config>
