<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright © 2020 Studio Raz. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- NOTE: sortOrder="69" - to position Menu-Item before Stores -->
        <add id="SR_Base::srbase" title="Studio Raz" module="SR_Base" translate="title" sortOrder="69" resource="SR_Base::srbase"/>
        <add id="SR_Base::extensions" title="Extensions" module="SR_Base" translate="title" sortOrder="9998" action="adminhtml/system_config/edit/section/srbase" parent="SR_Base::srbase" resource="SR_Base::extensions"/>
    </menu>
</config>
